*.swp
*.pdf
*.png
*.pyc
*.c
*.html
*.hdf5
*.so
*.Rhistory
*.out
*.dat
*.f
*.txt
*.log
domain.cpp
domain_manager.cpp
riemann.cpp
reconstruction.cpp
pytess.cpp
main.cpp
integrator.cpp
boundary.cpp
mesh.cpp
phd/gravity/*.cpp
phd/load_balance/*.cpp
build/
.DS_Store
phd.egg-info/
